* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* page1 */
.page1{
    background-color: #1f2937;
    padding: 0% 15%;
}
/* pg1 header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

}

.logo h2{
    font-size: 24px;
    color: #F9FAF8;
    
}


ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
a{
    text-decoration: none;
    color: #939393;
    font-size: 14px;
    
     
}
/* pg1 main content */
.page1-maincontent {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 160px 0px; 
    align-items: center; 
}

.right img{
    flex: 1;
    display: flex;
    background-color: #808080;
    height: auto;
    width: 450px;
}

.h-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.h-para{
    color: #e5e7eb;
    font-size: 18px; 
    margin: 16px 0px;
}

.signup-1{
    color: #e5e7eb;
    background-color: #3883f6;
    border: none;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: 16px;
    
}

/* page 2 */
.page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 120px 0px;
    
}

.pg2-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.items{
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
    
    
}
.items img{
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 10px;
    
}

.items p{
    font-size: 15px;
    color: #6c6c6c;
    max-width: 170px;
    text-align: center;
    
}

/* Page 3 */
.page3{
    background-color: #e5e7eb;
   padding: 120px 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
       

}

.bigcmnt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #1f2937;
    padding: 0px 150px;
    

}

.smallname{
    font-size: large;
    font-weight: 900;
    text-align: right;

    
    
   
}


/* page 4 */
.bgbody{
    padding: 120px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.floatContainer{
    /* border: none;
    border-radius: 8px;
    display: flex;
    height: auto;
    width: 500px;
    padding: 16px;
    margin: auto; */
    background-color: #3882f6;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 30px;
    gap: 50px;
}

.floatLeft .h1{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.floatLeft .p1{
    color: #f9faf8;
    font-size: 18px;
}


.actSignup{
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-radius: 8px;
    padding: 8px 16px;
    color: #F9FAF8;
    font-weight: 600;
}

/* Footer */
.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    font-size: medium;
    padding: 50px 0px;
}